<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374686735651-gc7k2e4lapq711miaiihohli6ruvitbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374686735651-gc7k2e4lapq711miaiihohli6ruvitbh</string>
	<key>API_KEY</key>
	<string>AIzaSyC5pQimTtteXUyrBDss27FDtO4WGvzWlJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>374686735651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseApp</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-62188</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-62188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374686735651:ios:09d314c5b5e5b6345b8096</string>
</dict>
</plist>